.date {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0.8rem 0;
  font-size: 1rem;
}

[data-theme="dark"] .date {
  color: #000;
}

[data-theme="dark"] .date img {
  filter: brightness(0) invert(1);
}
